<h2><%= link_to 'New Entry', new_entry_path %></h2>
<h2 class="title">Entries</h2>
<div class="container">
	<% @entries.each do |entry| %>
	<div class="content">
		<h3>Author: <%= entry.author %></h3>
		<img src="<%= entry.photo_url %>">
		<p>Caption: <%= entry.caption %></p>
		<p>Date Taken: <%= entry.date_taken %></p>
		<%= link_to "Entry Page", entry_path(entry) %>
		<%= link_to "Edit Entry", edit_entry_path(entry) %>
		<%= link_to "Destroy Entry", entry_path(entry), method: :delete %>
	</div>
	<% end %>
</div>