<h2 class="title">Entry</h2>
<div class="container">
	<h3>Author: <%= @entry.author %></h3>
	<img src="<%= @entry.photo_url %>"> 
	<p>Caption: <%= @entry.caption %></p>
	<p>Date Taken:<%= @entry.date_taken %></p>
	<%= link_to "Edit Entry", edit_entry_path(@entry)%>
	<%= link_to "Back", entries_path %>
</div>